.signin-container {
  color: rgb(90, 90, 90);
  width: 100%;
  height: 100%;
  display: inline-block;
  text-align: center;
  background-image: url("../../assets/bg/mink-mingle-8cOib7pidak-unsplash.jpg");
  background-size: cover;
}

.signin-container h1 {
  display: inline-block;
}

.signin-container-blur {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  justify-content: center;
  align-items: center;
}
