/* FilterList */
.filter-list {
  overflow-y: auto;
}

.filter-list__item {
  border-bottom: 0.01rem solid rgba(90, 90, 90, 0.2);
}

.filter-list__item__about {
  margin: 0.5rem;
  display: flex;
  justify-content: space-between;
}
.filter-list__item__about__type {
  display: flex;
}

/* 검색 결과 없음 */
.filter-list--empty {
  padding: 10rem 0;
  color: rgb(90, 90, 90);
  font-size: 1.75rem;
  text-align: center;
}

/* 기간 */
.filter-list__item__about__type__period--awhile::after {
  color: rgb(90, 90, 90);
  border: 0.01px solid rgb(90, 90, 90);
  border-radius: 0.3rem;
  padding: 0.1rem 0.3rem;
  font-size: 0.8em;
  margin: 0 0.1rem;
  content: "일시";
}

.filter-list__item__about__type__period--short::after {
  color: rgb(90, 90, 90);
  border: 0.01px solid rgb(90, 90, 90);
  border-radius: 0.3rem;
  padding: 0.1rem 0.3rem;
  font-size: 0.8em;
  margin: 0 0.2rem;
  content: "단기";
}

.filter-list__item__about__type__period--mid-and-long::after {
  color: rgb(90, 90, 90);
  border: 0.01px solid rgb(90, 90, 90);
  border-radius: 0.3rem;
  padding: 0.1rem 0.3rem;
  font-size: 0.8em;
  margin: 0 0.2rem;
  content: "중장기";
}

/* 성별 */
.filter-list__item__about__type__sex__male::after {
  color: white;
  background-color: rgb(34, 37, 192);
  border: 0.01px solid rgb(34, 37, 192);
  border-radius: 0.3rem;
  padding: 0.1rem 0.3rem;
  content: "남";
  font-size: 0.8em;
  margin: 0 0.1rem;
}

.filter-list__item__about__type__sex__female::after {
  color: white;
  background-color: rgb(182, 45, 45);
  border: 0.01px solid rgb(182, 45, 45);
  border-radius: 0.3rem;
  padding: 0.1rem 0.3rem;
  content: "여";
  font-size: 0.8em;
  margin: 0 0.1rem;
}

/* 연락처 */
.filter-list__item__about__call a img {
  width: 2em;
  height: 2em;
  border-radius: 100%;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.2);
}

/* 이름 */
.filter-list__item__name {
  font-weight: bold;
  margin-bottom: 1.5rem;
}

/* FilterItemDetail */
.filter-item-detail {
  border-bottom: solid 1px #e8f1f5;
}
