.filter-category {
  padding: 0.5rem;
  border-bottom: solid 0.01rem rgba(90, 90, 90, 0.2);
  font-size: 1.2rem;
  font-weight: 500;
}

.filter-category__title,
.filter-category__list {
  margin: 0.5rem;
}

.filter-category-item {
  display: inline-block;
  background-color: white;
  color: rgb(90, 90, 90);
  border-radius: 0.3rem;
  border: 0.1rem solid rgb(90, 90, 90);
  padding: 0.12rem 0.5rem;
  margin: 0.5rem;
  font-size: 1rem;
  font-weight: 400;
  box-shadow: 0 0 0.3rem 0 rgba(0, 0, 0, 0.2);
}

.checked {
  background-color: #5a5a5a;
  color: #ffffff;
}
