/* filter-condition */
.filter-condition {
  z-index: 3;
}

.filter-condition--fold {
  display: none;
}

.filter-condition--unfold {
  background-color: #fafafa;
  text-align: center;
}

/* 접기 버튼 */
.filter-condition__fold-button {
  background-color: white;
  border-top: 0.01rem solid rgba(90, 90, 90, 0.2);
  border-bottom: 0.125rem solid rgba(90, 90, 90, 0.2);
  min-height: 2.5rem;
  padding: 0.25rem;
}

.filter-condition__fold-button > img {
  width: 1rem;
}

/* 검색 버튼 */
.filter-condition__filter-button {
  border-bottom: solid 0.125rem rgba(90, 90, 90, 0.2);
}

.filter-condition__filter-button > button {
  display: inline-block;
  background-color: rgb(90, 90, 90, 0.9);
  color: white;
  width: 6rem;
  height: 2.5rem;
  border-radius: 0.3rem;
  border: 0;
  padding: 0.2rem 1rem;
  margin: 1.5rem;
  font-size: 1.2rem;
  box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.2);
}

.filter-condition__filter-button > button:hover {
  background-color: rgb(90, 90, 90, 0.8);
  color: white;
}
