/* FilterKeyword */
.filter-keyword,
.filter-keyword div {
  display: inline-block;
}

.filter-keyword {
  width: 90%;
}

.filter-keyword div {
  margin: 0.2rem;
  float: left;
  background-color: white;
  border: rgb(90, 90, 90) solid 0.01rem;
  color: rgb(90, 90, 90);
  font-size: 0.8em;
  border-radius: 0.3rem;
  padding: 0.1rem 0.3rem;
}
