/* FilterKeyword */
.filter-keyword,
.filter-keyword div {
  display: inline-block;
}

.filter-keyword {
  width: 90%;
  margin: 0;
}

.filter-keyword div {
  margin: 2px;
  float: left;
  background-color: #005691;
  color: #fafafa;
  font-size: 0.8em;
  border-radius: 0.25em;
  padding: 0 2px;
}
