@import "./index.css";
@import "./Home.css";
@import "./filter/Filter.css";
@import "./Map.css";
@import "./FAB.css";
@import "./filter/FilterCondition.css";
@import "./filter/FilterKeyword.css";
@import "./filter/FilterList.css";
@import "./filter/FilterCategory.css";
@import "./user/Signup.css";
@import "./user/Signin.css";
@import "./user/Signout.css";
@import "./user/SigninForm.css";
@import "./user/SignupForm.css";
@import "./user/SignoutForm.css";
@import "./user/ToggleButton.css";
@import "./user/TypeSelectionInput.css";
@import "./user/FormInput.css";
@import "./Loading.css";

* {
  font-family: "Spoqa Han Sans";
  box-sizing: border-box;
}

.App {
  height: 100vh;
  width: 100vw;
}

@media screen and (min-width: 480px) {
  .fab-container div:first-child {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .home {
    flex-direction: column;
  }

  .filter {
    max-width: 100%;
    height: initial;
  }
}

.fold {
  display: none;
}
