/* FAB: Floating Action Button */

.fab-container {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 999;
  cursor: pointer;
}

.fab-icon-holder {
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  background: rgba(1, 111, 185, 0.9);
  margin-left: 0.5rem;

  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.fab-icon-holder:hover {
  opacity: 0.9;
}

.fab-icon-holder i {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
  font-size: 1.2rem;
  color: #ffffff;
}
