.filter {
  width: 25%;
  min-width: 400px;
  background-color: gray;
}

.filter-condition--fold {
  display: none;
}

.filter-condition--unfold {
  display: block;
}

.filter-condition__sex__type--male {
  background-color: cornflowerblue;
}

.filter-condition__sex__type--female {
  background-color: lightpink;
}
