.map {
  width: 75%;
}

.map__need-conditions {
  display: table;
  height: 90vh;
  width: 100%;
}

.map__need-conditions > span {
  display: table-cell;
  vertical-align: middle;
  font-size: 2rem;
}

.shelter-marker__window__contents__type {
  display: flex;
  padding-bottom: 0.1rem;
}

.shelter-marker__window__contents__sex-type {
  margin: 0.1rem;
  padding: 0.1rem;
  margin-left: auto;
}
.shelter-marker__window__contents__sex-type__female {
  height: 15px;
  width: 15px;
  background-color: rgb(182, 45, 45);
  border-radius: 20%;
  display: inline-block;
  margin-left: 0.3rem;
}

.shelter-marker__window__contents__sex-type__male {
  height: 15px;
  width: 15px;
  background-color: rgb(34, 37, 192);
  border-radius: 20%;
  display: inline-block;
}

.shelter-marker__window__contents__byperd-type {
  margin: 0.1rem;
  padding: 0.1rem;
}

/* Ⅰ Ⅱ Ⅲ  */
.shelter-marker__window__contents__byperd-type__awhile::after {
  border: solid rgb(182, 45, 45) 1px;
  border-radius: 20%;
  padding: 0 0.35rem;
  content: "I";
}

.shelter-marker__window__contents__byperd-type__short::after {
  border: solid rgb(182, 45, 45) 1px;
  border-radius: 20%;
  padding: 0 0.1rem;
  content: "Ⅱ";
}

.shelter-marker__window__contents__byperd-type__mid-and-long::after {
  border: solid rgb(182, 45, 45) 1px;
  border-radius: 20%;
  padding: 0 0.1rem;
  content: "Ⅲ";
}
