.map {
  width: 75%;
}

.map__need-conditions {
  display: table;
  height: 90vh;
  width: 100%;
}

.map__need-conditions > span {
  display: table-cell;
  vertical-align: middle;
  font-size: 2rem;
}

.shelter-marker__window__contents__type {
  display: flex;
  padding-bottom: 0.1rem;
}

.shelter-marker__window__contents__sex-type {
  background: darkred;
  margin: 0.1rem;
  padding: 0.1rem;
  margin-left: auto;
}

.shelter-marker__window__contents__byperd-type {
  background: gray;
  margin: 0.1rem;
  padding: 0.1rem;
}
