.signup {
  display: inline-block;
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  color: rgb(90, 90, 90);
}

.type-button-container {
  margin: 2% auto;
  display: inline-block;
  width: 100%;
  height: 50%;
}

.type-button {
  display: inline-block;
  background-color: white;
  color: rgb(90, 90, 90);
  border: 1px solid rgb(90, 90, 90);
  outline: transparent;
  font-size: 2rem;
  margin: 10% 5%;
  width: 20%;
  height: 20vh;
  transition-property: all;
  transition-duration: 0.4s;
  box-shadow: 0 0 0.3rem 0 rgba(0, 0, 0, 0.3);
}

.type-button:hover {
  background-color: rgb(90, 90, 90);
  color: white;
  font-weight: bold;
}

.back-button {
  display: inline-block;
  color: rgb(90, 90, 90);
  padding: 0 1%;
  width: 50%;
  height: 5%;
  max-width: 200px;
  background-color: transparent;
  margin: 0 2%;
  font-weight: bold;
  border: none;
  outline: transparent;
  font-size: 1.2rem;
  transition-property: all;
  transition-duration: 0.3s;
}

.back-button:hover {
  border-radius: 3em;
  background-color: rgb(90, 90, 90);
  color: white;
}

.signup .home-button {
  display: inline-block;
  color: rgb(90, 90, 90);
  padding: 0;
  width: 50%;
  height: 5%;
  max-width: 200px;
  background-color: transparent;
  margin: 0 2%;
  font-weight: bold;
  border: none;
  outline: transparent;
  font-size: 1.3rem;
  transition-property: all;
  transition-duration: 0.3s;
}

.home-button:hover {
  border-radius: 3em;
  background-color: rgb(90, 90, 90);
  color: white;
}

/* Signup Form Styling */
.signup-form {
  background-color: rgb(240, 237, 237);
  border: 1px solid rgb(90, 90, 90);
  border-radius: 3%;
  padding: 3% 0 3% 0;
  margin: 3% auto 3% auto;
  max-width: 600px;
  width: 80%;
  vertical-align: middle;
}

.signup-form h4 {
  font-size: 1.2rem;
  margin: 1% auto;
}

.text-input {
  color: rgb(90, 90, 90);
  background-color: white;
  border-radius: 3%;
  border: 1px solid rgb(90, 90, 90);
  outline: transparent;
  width: 30%;
  height: 30%;
  transition-property: all;
  transition-duration: 0.2s;
}

.text-input:focus {
  border: none;
  color: white;
  background-color: rgb(90, 90, 90);
  width: 40%;
}
.text-input:focus::placeholder {
  border: none;
  color: white;
  background-color: rgb(90, 90, 90);
  width: 40%;
}

.gender-form-item {
  border-radius: 3%;
  border: 1px solid rgb(90, 90, 90);
  margin: 0 auto;
  color: rgb(90, 90, 90);
  background-color: white;
  width: 40%;
  transition-property: all;
  transition-duration: 0.2s;
}

.gender-form-item:hover {
  border: none;
  color: white;
  background-color: rgb(90, 90, 90);
  width: 60%;
}

.signup-form-item {
  font-size: 1.2rem;
  margin: 2% auto;
  display: block;
  font-size: 1.2rem;
}

.radio-input {
  margin: 0 10%;
}

.submit-button {
  padding: 1%;
  border: none;
  background-color: rgb(90, 90, 90);
  color: white;
  margin: auto;
  font-weight: bold;
  outline: transparent;
  font-size: 1rem;
  transition-property: all;
  transition-duration: 0.3s;
}

.submit-button:hover {
  font-size: 1.2rem;
  background-color: transparent;
  color: rgb(90, 90, 90);
}
